<p-card header="Cadastrar Comida">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-secondary"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p>Comida</p>
          <input id="comida" nome="comida" class="form-control"
                 required maxlength="100" appForbiddenName="bob"
                 [(ngModel)]="objeto.comida" #comida="ngModel">

        <div *ngIf="comida.invalid && (comida.dirty || comida.touched)"
             class="alert alert-danger">
          <div *ngIf="comida.errors.required">
            Descricão da comida obrigatoria
          </div>
        </div>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p-checkbox [(ngModel)]="objeto.inativo"
                      binary="true"
                      label="Inativo"></p-checkbox>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
            <p>Ingredientes:</p>
            <p-multiSelect [(ngModel)]="ingredientesList"
                           [options]="ingredienteListSuggestions"
                           [panelStyle]="{width:'15em'}"
                           defaultLabel="Selecione"
                           maxSelectedLabels="5"></p-multiSelect>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
            <p>Tipos:</p>
            <p-multiSelect [(ngModel)]="tipoList"
                           [options]="tipoListSuggestions"
                           [panelStyle]="{width:'15em'}"
                           defaultLabel="Selecione"
                           maxSelectedLabels="5"></p-multiSelect>
        </span>
      </div>
    </div>
  </div>
</p-card>
