<p-card header="Cadastrar Comida">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-secondary"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p>Comida:</p>
          <input [(ngModel)]="objeto.comida"
                 name="comida"
                 pInputText
                 type="text">
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p-checkbox [(ngModel)]="objeto.inativo"
                      binary="true"
                      label="Inativo"></p-checkbox>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
            <p>Ingredientes</p>
            <p-multiSelect [(ngModel)]="objeto.ingredientesList"
                           [options]="ingredienteListSuggestions"
                           defaultLabel="Selecione"
                           maxSelectedLabels="15"></p-multiSelect>
        </span>
        <span class="ui-float-label my-2">
          <p-multiSelect [(ngModel)]="objeto.tipoList"
                         [options]="tipoListSuggestions"
                         [panelStyle]="{minWidth:'12em'}">
            <ng-template let-selectedCars pTemplate="selectedItems">
              <span *ngFor="let tipo of tipoListSuggestions">
                {{tipo.title}}
              </span>
            </ng-template>
            <ng-template let-tipo let-i="index" pTemplate="item">
              {{i}}
              <div style="font-size:14px;float:right;margin-top:4px">
                {{tipo.label}}
              </div>
            </ng-template>
          </p-multiSelect>
          <p>Tipos Selecionados: {{objeto.tipoList}}</p>
        </span>
      </div>
    </div>
  </div>
</p-card>

