<p-card header="Cadastrar Cardapio">
<div class="container">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="col-12">
    <p>Nome do Cardapio</p>
    <input [(ngModel)]="objeto.cardapio"
           pInputText
           type="text">
  </div>
  <div class="col-12">
    <p-checkbox [(ngModel)]="objeto.inativo"
                binary="true"
                label="Inativo"></p-checkbox>

  </div>
  <div class="col-12">
    <p>Dia da semana:</p>
    <p-dropdown [options]="diaOpcao" [(ngModel)]="objeto.diaSemana"></p-dropdown>
  </div>

  <div class="col-12">
    <p>Comidas:</p>
    <p-multiSelect [options]="comidaListSuggestions"
                   [(ngModel)]="objeto.cardapioComidaList"
                   defaultLabel="Selecione:"></p-multiSelect>
  </div>

</div>
</p-card>


