<p-card header="Pedido">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="col-12">
    <p>Dia da semana:</p>
    <p-dropdown [options]="diaOpcao" [(ngModel)]="objeto.diaSemana"></p-dropdown>
  </div>
</p-card>
<p-card header="Tamanhos do Pedido">
  <div class="row">
    <div class="col-12">
      <div class="text-right m-2">
        <p-button label="Adicionar" icon="pi pi-file" (onClick)="novoItem()"></p-button>
      </div>
    </div>
    <div class="col-12">
      <p-table [value]="objeto.tamanhoPedidoList">
        <ng-template pTemplate="header" >
          <tr>
            <th>Tamanho</th>
            <th>Quantidade</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body" let-rowIndex="rowIndex">
          <tr>
            <td>{{item?.tamanho?.peso }}</td>
            <td>{{item?.quantidade}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="text-center">
            <td colspan="3">Não há produtos adicionados ao pedido.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">


        </ng-template>
      </p-table>

    </div>
  </div>

</p-card>

<p-dialog [style]="{ width: '500px'}" [(visible)]="displayItem"  header="Tamanho Pedido" [modal]="true">
  <app-tamanho-pedido (onSalvar)="adicionaItem($event)"
                        (onClose)="displayItem = false"></app-tamanho-pedido>
</p-dialog>

