<p-card header="Seus Pedidos">
  <div class="text-right m-2">
    <button [routerLink]="['/pedido/form']"
            class="ui-button-rised"
            label="Fazer Pedido"
            pButton
            type="button"></button>
  </div>
  <p-table [value]="lista">
    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Id</th>
        <th>Cliente</th>
        <th>Data</th>
        <th>Dia da semana</th>
        <th>Total</th>
        <th>Pago</th>
        <th>Cancelado</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-objeto >
      <tr class="text-center">
        <td>{{objeto.id}}</td>
        <td>{{objeto.cliente.nome}}</td>
        <td>{{objeto.data| date:'dd/MM/yyyy'}}</td>
        <td>{{objeto.diaSemana}}</td>
        <td>{{objeto.valorTotal | currency: 'BRL'}}</td>
        <td>{{objeto.pago?'SIM':''}}</td>
        <td>{{objeto.status?'SIM':''}}</td>
        <td>
          <i [queryParams]="{id: objeto['id']}"
             [routerLink]="['form']"
             class="pi pi-eye"
             title="Ver"></i>
          <i (click)="confirmPagar(objeto.id)"
             *ngIf="objeto.status == false && objeto.pago == false && isAdm == true"
             class="pi pi-check mr-2 ml-2"
             title="Pagar"></i>
          <i (click)="confirmCancelar(objeto.id)"
             *ngIf="objeto.status == false && objeto.pago == false"
             class="pi pi-times"
             title="Cancelar"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <td>Sem Registros</td>
    </ng-template>
    <ng-template pTemplate="summary">
      {{lista?.length}} pedidos.
    </ng-template>
  </p-table>
</p-card>
