<p-card>
  <header *ngIf="objeto.id == null" style="font-size: 1.5em; font-weight: bold;">Fazer Pedido</header>
  <header *ngIf="objeto.id != null" style="font-size: 1.5em; font-weight: bold;">Visualizar Pedido</header>
  <div class="text-right m-2">
    <button *ngIf="objeto.id == null"
            (click)="salvar()"
            class="ui-button-raised"
            label="Fazer Pedido"
            pButton
            type="button"></button>
    <button *ngIf="objeto.id != null"
            class="ui-button-rised"
            label="Voltar"
            pButton
            (click)="voltar()"></button>
  </div>
  <div class="col-12">
    <p>Dia da Semana:</p>
    <p-dropdown [options]="diaOpcao" [(ngModel)]="objeto.diaSemana"></p-dropdown>
  </div>
  <header style="margin-top: 2em; font-size: 1.5em; font-weight: bold;">Marmitas no Pedido:</header>
  <div class="row">
    <div class="col-12">
      <div class="text-right m-2">
        <p-button *ngIf="objeto.id == null" label="Adicionar" icon="pi pi-plus" (onClick)="novoItem()"></p-button>
      </div>
    </div>
    <div class="col-12">
      <p-table [value]="objeto.tamanhoPedidoList">
        <ng-template pTemplate="header" >
          <tr class="text-center">
            <th>Tamanho</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body" let-rowIndex="rowIndex">
          <tr class="text-center">
            <td>{{item.tamanho.peso}} g</td>
            <td>{{item.quantidade}} uni.</td>
            <td>{{item.valorTotal|currency: 'BRL'}}</td>
            <td>
              <i *ngIf="objeto.id == null"
                 (click)="excluir(rowIndex)"
                 class="pi pi-trash"
                 title="Editar"></i>
              <p *ngIf="objeto.id != null">Nenhuma Disponível</p>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="text-center">
            <td colspan="4">Não há marmitas adicionadas ao pedido.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <tr class="text-center">
            <td colspan="4">Total: {{objeto.valorTotal |currency: 'BRL'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
<p-dialog [style]="{width: '20vw'}" [(visible)]="displayItem"  header="Adicionar Marmita" [modal]="true">
  <app-tamanho-pedido (onSalvar)="adicionaItem($event)" (onClose)="displayItem = false"></app-tamanho-pedido>
</p-dialog>

