<header>
  <div *ngIf="taLogado">
    <p-menubar [model]="menuList">
      <p-confirmDialog header="Sair" icon="pi pi-exclamation-triangle"></p-confirmDialog>
      <p-button icon="pi pi-user" label="Sair" styleClass="ui-button-secondary" (click)="confirmaLogout()"></p-button>
    </p-menubar>
  </div>
  <div *ngIf="!taLogado" class="m-2" style="position: fixed; right: 0">
      <p-button icon="pi pi-user" label="Login" class="ui-button-raised" (click)="showDialog()"></p-button>
  </div>
</header>

<main>
  <div style="padding-top: 3.5em">
    <div class="container">
      <p-toast></p-toast>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<p-dialog header="Login" [(visible)]="display"
          [modal]="true"
          [style]="{width: '300px', height: '200px'}"
          [closable]="true">
  <div class="col">
    <p class="h4 text-center">Entrar</p>
    <p>Cpf:</p>
    <input type="text"
           pInputText
           maxlength="11"
           style="width: 100%;"
           [(ngModel)]="login.cpf">
    <p>Senha:</p>
    <input class=""
           type="password"
           style="width: 100%;"
           [(ngModel)]="login.senha"
           pInputText>
    <div class="text-center mt-3">
      <button pButton type="button"
              label="Entrar"
              class="ui-button-raised"
              (click)="autenticar()"></button>
    </div>
    <div *ngIf="logininvalido" class="pt-2">
      <p style="color: red">Usuario ou senha incorreto!</p>
    </div>
  </div>
  <div class="text-center mt-3">
    <p>É novo por aqui?
      <a (click)="display = false" [routerLink]="['/cliente/form']">Cadastre-se!</a>
    </p>

  </div>
</p-dialog>
