<p-card header="Cadastrar Tamanho">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p>Peso:</p>
          <input [(ngModel)]="objeto.peso"
                 maxlength="100"
                 pInputText
                 type="number">
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p-checkbox [(ngModel)]="objeto.inativo"
                      binary="true"
                      label="Inativo"></p-checkbox>
        </span>
      </div>
    </div>
  </div>
</p-card>
