<p-card header="Seu relatorio">
  <p-calendar placeholder="Data inicial" [(ngModel)]="dataInicial" dataType="string" dateFormat="dd/mm/yy"></p-calendar>
  <p-calendar class="m-2" placeholder="Data final" [(ngModel)]="dataFinal" dataType="string" dateFormat="dd/mm/yy"></p-calendar>

  <p-button label="Buscar"  (click)="filtraData() "></p-button>
</p-card>

<div *ngIf="filtrado">
  <div style="height: 20px"></div>
  <ng-template pTemplate="emptymessage">
    <tr class="text-center">
      <td colspan="4">Não há marmitas adicionadas ao pedido.</td>
    </tr>
  </ng-template>
  <div class="row">
    <div class="col-5">
      <p-card header="Total pago">
        {{totalRecebido | currency:'BRL'}}
      </p-card>
    </div>
    <div class="col-2">
      &nbsp;
    </div>
    <div class="col-5">
      <p-card header="Total a pagar">
        {{totalAReceber | currency:'BRL'}}
      </p-card>
    </div>
  </div>

  <div style="height: 20px"></div>

  <p-table [value]="relatorioPedidoClienteList">
    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Id</th>
        <th>Data do pedido</th>
        <th>Status</th>
        <th>Pago</th>
        <th>Quantidade</th>
        <th>Peso</th>
        <th>Valor total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-objeto>
      <tr class="text-center">
        <td>{{objeto.id}}</td>
        <td>{{objeto.dataDoPedido | date:'dd/MM/yy'}}</td>
        <td>{{objeto.status?'Cancelado':'Solicitado'}}</td>
        <td>{{objeto.pago?'Sim':'Não' }}</td>
        <td>{{objeto.quantidade}} uni</td>
        <td>{{objeto.peso}} g</td>
        <td>{{objeto.valorTotal | currency: 'BRL'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="text-center">
        <td colspan="7">Não há marmitas adicionadas ao pedido.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <tr class="text-center">
      </tr>
    </ng-template>
  </p-table>
</div>
