<div class="text-center">
<img style="position: relative; top: -70px;" src="./assets/imagens/logo.png" alt="logo">
</div>
<div class="container text-center" style="position: relative; height: 515px; top: -60px">
  <img src="./assets/imagens/inicial.jpeg" alt="prato-principal">
  <p style="font-size: .7em">Imagens Meramente Ilustrativas</p>
  <div class="p-5" style="position: relative; background-color: white; width: 300px; top: -500px;
        left: 60px">
    <h2>Marmita do Dia</h2>
    <button *ngIf="taLogado" [routerLink]="['/pedido/form']" class="btn btn-primary">Fazer pedido agora mesmo!</button>
    <button *ngIf="!taLogado" (click)="logar()" class="btn btn-primary">Fazer pedido agora mesmo!</button>
  </div>
</div>

<div class="container" style="text-transform: capitalize; position: relative; top: -40px">
  <div class="row">
    <div class="col-1 d-none d-lg-block">&nbsp;</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="./assets/imagens/feijao.jpg" class="card-img-top" style="width: 100%;height: 165px;" alt="">
        <div class="card-body">
          <p style="font-size: 1.3em; font-weight: bold;">Segunda Feira:</p>
          <p class="text-left">{{cardapioSeg?.cardapio}}:</p>
          <div>
            <p *ngFor="let comidaList of cardapioSeg?.cardapioComidaList">
              {{comidaList.comida.comida}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="./assets/imagens/macarronada.jpg" class="card-img-top" style="width: 100%;height: 165px;" alt="">
        <div class="card-body">
          <p style="font-size: 1.3em; font-weight: bold;">Terça Feira:</p>
          <p class="text-left">{{cardapioTer?.cardapio}}:</p>
          <div>
            <p *ngFor="let comidaList of cardapioTer?.cardapioComidaList">
              {{comidaList.comida.comida}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="./assets/imagens/lasanha.jpg" class="card-img-top" style="width: 100%; height: 165px;" alt="">
        <div class="card-body">
          <p style="font-size: 1.3em; font-weight: bold;">Quarta Feira:</p>
          <p class="text-left">{{cardapioQua?.cardapio}}:</p>
          <div>
            <p *ngFor="let comidaList of cardapioQua?.cardapioComidaList">
              {{comidaList.comida.comida}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="./assets/imagens/feijaoearroz.jpg" class="card-img-top" style="width: 100%; height: 165px;" alt="">
        <div class="card-body">
          <p style="font-size: 1.3em; font-weight: bold;">Quinta Feira:</p>
          <p class="text-left">{{cardapioQui?.cardapio}}:</p>
          <div>
            <p *ngFor="let comidaList of cardapioQui?.cardapioComidaList">
              {{comidaList.comida.comida}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <img src="./assets/imagens/feijoada.jpeg" class="card-img-top" style="width: 100%; height: 165px;" alt="">
        <div class="card-body">
          <p style="font-size: 1.3em; font-weight: bold;">Sexta Feira:</p>
          <p class="text-left">{{cardapioSex?.cardapio}}:</p>
          <div>
            <p *ngFor="let comidaList of cardapioSex?.cardapioComidaList">
              {{comidaList.comida.comida}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 d-none d-lg-block">&nbsp;</div>
  </div>
</div>
