<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
<p-card header="Cadastro de Clientes">
  <div class="text-right m-2">
    <button class="ui-button-secondary"
            label="Salvar"
            pButton
            type="submit"
            [disabled]="!userform.valid"></button>
  </div>
  <div class="container">
    <div class="ui-grid-col-12">
      Cliente:
    </div>
    <div class="ui-grid-col-12">
      <input pInputText type="text" maxlength="100" formControlName="nome">
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo cliente é obrigatório"
                 *ngIf="!userform.controls['nome'].valid&&userform.controls['nome'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Cpf:
    </div>
    <div class="ui-grid-col-12">
      <p-inputMask type="text" mask="999.999.999-99" formControlName="cpf"></p-inputMask>
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo cpf é obrigatório"
                 *ngIf="!userform.controls['cpf'].valid&&userform.controls['cpf'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Senha:
    </div>
    <div class="ui-grid-col-12">
      <input pInputText type="password" maxlength="10" formControlName="senha">
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo senha é obrigatório"
                 *ngIf="!userform.controls['senha'].valid&&userform.controls['senha'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Telefone:
    </div>
    <div class="ui-grid-col-12">
      <p-inputMask type="text" mask="(99) 99999-9999" formControlName="telefone"></p-inputMask>
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo telefone é obrigatório"
                 *ngIf="!userform.controls['telefone'].valid&&userform.controls['telefone'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Rua:
    </div>
    <div class="ui-grid-col-12">
      <input pInputText type="text" maxlength="100" formControlName="logradouro">
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo rua é obrigatório"
                 *ngIf="!userform.controls['logradouro'].valid&&userform.controls['logradouro'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Número:
    </div>
    <div class="ui-grid-col-12">
      <input pInputText type="number" maxlength="10" formControlName="numero">
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo número é obrigatório"
                 *ngIf="!userform.controls['numero'].valid&&userform.controls['numero'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Bairro:
    </div>
    <div class="ui-grid-col-12">
      <input pInputText type="text" maxlength="100" formControlName="bairro">
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo bairro é obrigatório"
                 *ngIf="!userform.controls['bairro'].valid&&userform.controls['bairro'].dirty"></p-message>
    </div>
    <div class="ui-grid-col-12">
      Cep:
    </div>
    <div class="ui-grid-col-12">
      <p-inputMask type="text" mask="99999-999" formControlName="cep"></p-inputMask>
    </div>
    <div class="ui-grid-col-12">
      <p-message severity="error" text="o campo cep é obrigatório"
                 *ngIf="!userform.controls['cep'].valid&&userform.controls['cep'].dirty"></p-message>
    </div>
  </div>
  <div style="clear: both"></div>
</p-card>
</form>

